In [1]:
import pandas as pd

In [ ]:
from pandas import DataFrame

In [2]:
from pandas import ExcelWriter

In [3]:
from pandas import ExcelFile

In [43]:
transactions = pd.read_excel(r"C:\Users\Khatri\Desktop\KPMG\DataQualityAssesment\UsingPython\RawData\rawdataset.xlsx")

In [5]:
new_customer_list = pd.read_excel(r"C:\Users\Khatri\Desktop\KPMG\DataQualityAssesment\UsingPython\RawData\rawdataset.xlsx", sheet_name = 'NewCustomerList')

In [6]:
customer_demographic = pd.read_excel(r"C:\Users\Khatri\Desktop\KPMG\DataQualityAssesment\UsingPython\RawData\rawdataset.xlsx", sheet_name = 'CustomerDemographic')

In [7]:
customer_add = pd.read_excel(r"C:\Users\Khatri\Desktop\KPMG\DataQualityAssesment\UsingPython\RawData\rawdataset.xlsx", sheet_name = 'CustomerAddress')

In [8]:
transactions.head()

,Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
1,1,2,2950,2017-02-25 00:00:00,False,Approved,Solex,Standard,medium,medium,71.49,53.62,41245
2,2,3,3120,2017-05-21 00:00:00,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701
3,3,37,402,2017-10-16 00:00:00,False,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361
4,4,88,3135,2017-08-31 00:00:00,False,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.1,36145

In [9]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20001 entries, 0 to 20000
Data columns (total 13 columns):
Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.     20001 non-null object
Unnamed: 1                                                                                                                                                                       20001 non-null object
Unnamed: 2                                                                                                                                                                       20001 non-null object
Unnamed: 3                                                                                                                                                                       20001 non-null object
Unnamed: 4                                                                                                                                                                       19641 non-null object
Unnamed: 5                                                                                                                                                                       20001 non-null object
Unnamed: 6                                                                                                                                                                       19804 non-null object
Unnamed: 7                                                                                                                                                                       19804 non-null object
Unnamed: 8                                                                                                                                                                       19804 non-null object
Unnamed: 9                                                                                                                                                                       19804 non-null object
Unnamed: 10                                                                                                                                                                      20001 non-null object
Unnamed: 11                                                                                                                                                                      19804 non-null object
Unnamed: 12                                                                                                                                                                      19804 non-null object
dtypes: object(13)
memory usage: 2.0+ MB

In [44]:
transactions['transaction_date'] = pd.to_datetime(transactions['transaction_date'], unit='s')
transactions['transaction_date'].head()

KeyError: 'transaction_date'